<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Apollo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">

</head>
<body>
<div id="videos">
    <video src="" class="player" id="user" autoplay playsinline muted></video>
</div>
<div class="controls">
    <div class="control-cont" id="camera-btn">
        <img src="../icons/camera.png" alt="mic" id="mic">
    </div>

</div>
</body>
<script src="../scripts/main.js"></script>
</html>
